
.content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: transitionIn 0.75s;
}

/* Container Styling */
.content-inner {
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 650px;
  height: 550px;
  position: absolute;
  transform: translateY(-400px);
}

/* Label Styling */
.content-inner label {
  font-size: 16px;
  font-weight: bold;
  color: #a33d31;
  display: block;
  margin-bottom: 5px;
}

/* Input and Select Styling */
.content-inner input[type="text"],
.content-inner input[type="datetime-local"],
.content-inner input[type="file"],
.content-inner select,
.content-inner textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
}

/* Button Styling */
.content-inner .form-buttons {
  display: flex;
  justify-content: space-between;
}

.content-inner .form-buttons input[type="submit"],
.content-inner .form-buttons input[type="reset"] {
  background-color: #a33d31;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content-inner .form-buttons input[type="submit"]:hover,
.content-inner .form-buttons input[type="reset"]:hover {
  background-color: #d3817c;
}

/* Adjust alignment and padding */
.content-inner .form-buttons {
  display: flex;
  justify-content: space-between;
}
