.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    text-align: center;
    height: 100vh; /* Make the container fill the full viewport height */
    animation: transitionIn 0.75s;
    position: absolute;
    transform:translateY(-100px)
}

.about__content h1{
    font-size: 10rem;
    background-image: linear-gradient(to right, #982b1c -50%, #dad4b5 50%, #982b1c 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.about__content h2 {
    color: white;
}

.about__content p {
  color: white;
}