.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white; /* Adjust text color to stand out against the background */
  transform: translateY(-100px); /* Moves the content upwards by 50px */
  animation: transitionIn 0.75s;
}

.main__content h1 {
  font-size: 10rem;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #982b1c -50%, #dad4b5 50%,  #982b1c 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  font-size: 2rem;
  margin-bottom: 30px;
}

.main__btn {
  padding: 10px 20px;
  background: linear-gradient(to bottom, #561c24, #883c3c); /* Gradient for the button */
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.main__btn a {
  text-decoration: none;
  color: white;
}

.main__btn:hover {
  background: linear-gradient(to bottom, #883c3c, #561c24); /* Reversed gradient on hover */
}


