{% extends 'layout.html' %}
{% load static %}

{% block extra_css %} 
  <link rel="stylesheet" href="{%static 'css/register.css' %}" />
{% endblock %}



{% block title %}
Registration
{% endblock %}

{% block main %}
<div class="wrapper_container">
  <div class="wrapper">
      <form action="/users/register/" method="POST" enctype="multipart/form-data" class="form-with-validation">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="form-submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}