{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="register">
  <div class="register-content">
    <a href="{% url 'engineed:index' %}" class="close-btn">&times;</a>
    <h2>Register</h2>
    
    <!-- Error message div -->
    {% if form.errors %}
    <div class="error-message">
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endfor %}
    </div>
    {% endif %}
    
       <div class="login-link">
      <p>Already have an account? <a href="{% url 'users:login' %}">Log In</a></p>
      </div>

    <form method="post" action="{% url 'users:register' %}">
      {% csrf_token %}
      
      <div class="form_email">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
      </div>
      
      <div class="form_password">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
      </div>
      
      <button type="submit" class="register-btn">Register</button>

      
    </form>
  </div>
</div>
{% endblock %}
